<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Club</title>
  </head>
  <body>
    <h1>Join Club</h1>
    <%- include('partials/errors', { errors }) %>
    <form action="/joinclub" method="POST">
      <label for="password">Secret Password:</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Join</button>
    </form>
  </body>
</html>
